<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type='text/xsl' href='style.xsl'?>
<configuration>
    <appSettings>
        <add key="TreblleApiKey" value="TNOKvWrRwP1yCRMqb2CjQLc9OEJsNykD" />
        <add key="TreblleProjectId" value="mdleuHcR3H76FRFV" />
    </appSettings>
</configuration>